<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-25 2:58:14 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.url.store.mapper.DownSystemSiteMapper">
    <update id="increaseNewUrlCount">
        update down_system_site
        set  url_total_count = url_total_count + #{count}
        where id = #{id}
    </update>
    <update id="increaseBadUrlCount">
        update down_system_site
        set  url_bad_count = url_bad_count + #{count},
             url_finished_count = url_finished_count + #{count}
        where id = #{id}
    </update>
    <update id="increaseFinishedUrlCount">
        update down_system_site
        set  url_finished_count = url_finished_count + #{count}
        where id = #{id}
    </update>

    <select id="get" resultType="com.jasmine.crawler.common.pojo.entity.DownSystemSite">
        select * from down_system_site where id = #{id}
    </select>
</mapper>
