<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-25 2:58:14 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.url.store.mapper.UrlMapper">

    <!--
      UrlStatus
      wait 1
      cached 2
      finished 3
    -->
    <!--
      UrlResult
      success 1
      failed 2
      bad 3

    -->

    <insert id="addBatch">
        insert into url
        (url,down_system_site_id,refer_url,depth,url_type,query,params)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.url},#{item.downSystemSiteId},#{item.referUrl},#{item.depth},
            #{item.urlType},#{item.query},#{item.params})
        </foreach>
    </insert>
    <update id="updateUrlStatusToCached">
        update url
        set
        url_status = 2,
        last_cache_time = current_timestamp
        where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item.id}
        </foreach>
    </update>
    <update id="failedUrls">
        <foreach collection="list" item="item" separator=";">
            update url
            set
            total_crawl_count = total_crawl_count + 1,
            last_crawl_time = current_timestamp,
            url_status = 3,
            last_crawl_task_id = #{item.taskId},
            <if test="item.msg!=null and item.msg !=''">
                last_crawl_msg = #{item.msg},
            </if>
            <if test="item.httpStatus!=null">
                last_crawl_http_status = #{item.httpStatus},
            </if>
            last_page_result = #{item.pageResult}
            where id = #{item.id}
        </foreach>
    </update>
    <update id="badUrls">
        <foreach collection="list" item="item" separator=";">
            update url
            set
            total_crawl_count = total_crawl_count + 1,
            last_crawl_time = current_timestamp,
            last_crawl_task_id = #{item.taskId}
            url_status = 3,
            <if test="item.msg!=null and item.msg !=''">
                last_crawl_msg = #{item.msg},
            </if>
            <if test="item.httpStatus!=null">
                last_crawl_http_status = #{item.httpStatus},
            </if>
            url_type = 5,
            last_page_result = #{item.pageResult}
            where id = #{item.id}
        </foreach>
    </update>
    <update id="failToRunUrls">
        <foreach collection="list" item="item" separator=";">
            update url
            set
            url_status = 1,
            last_crawl_time = current_timestamp,
            last_crawl_task_id = #{item.taskId}
            where id = #{item.id}
        </foreach>
    </update>
    <update id="succeedUrls">
        <foreach collection="list" item="item" separator=";">
            update url
            set
            url_status = 3,
            last_page_result = 1,
            total_crawl_count = total_crawl_count + 1,
            last_success_time = current_timestamp,
            last_crawl_time = current_timestamp,
            <if test="item.msg!=null and item.msg !=''">
                last_crawl_msg =#{item.msg},
            </if>
            <if test="item.httpStatus!=null">
                last_crawl_http_status = #{item.httpStatus},
            </if>
            last_crawl_task_id = #{item.taskId},
            total_success_count = total_success_count + 1
            where id = #{item.id}
        </foreach>
    </update>

    <select id="getUrlToCacheForSite" resultType="com.jasmine.crawler.common.pojo.entity.Url">
        select
        u.url,
        u.id,
        u.refer_url,
        u.query,
        u.depth,
        u.params
        from url u
        join down_system_site dss on u.down_system_site_id = dss.id
        where
        u.down_system_site_id = #{downSystemSiteId}
        and u.enable_status = 1
        and u.url_status = 1
        and u.url_type &lt;&gt; 5
        and u.total_crawl_count &lt; dss.url_max_crawl_count
        order by
            u.priority desc,
            u.depth asc,
            u.total_crawl_count asc ,
            u.last_crawl_time asc
        limit 0, #{maxCount}
    </select>
</mapper>
