<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-25 2:58:14 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.cron.mapper.CrawlerMapper">
    <update id="updateConcurrencyById">
        update crawler
        set current_concurrency =#{current_concurrency}
        where id = #{id}
    </update>
    <update id="updateHeartbeatStatusById">
        update crawler
        set heartbeat_status = #{heartbeatStatus},
            heartbeat_lost = #{heartbeatLost},
            last_heartbeat_time = current_timestamp
        where id = #{id}
    </update>
    <select id="getCrawlerBySite" resultType="com.jasmine.crawl.common.pojo.entity.Crawler">
        select
        *
        from crawler c
        where
        c.enable_status = 1
        and (c.max_concurrency-c.current_concurrency) &lt; (select max_concurrency from site where id =1)
        and c.ip not in (select ip from site_ip_block_map where site_id =1 and enable_status =1)
        order by c.current_concurrency/c.max_concurrency asc
    </select>
    <select id="getCrawlerNeedHeartbeat" resultType="com.jasmine.crawl.common.pojo.entity.Crawler">
        select * from crawler c
        where
        c.enable_status = 1
        and
        date_add(c.last_heartbeat_time,interval least(c.heartbeat_lost,5) minute)&lt;current_timestamp
    </select>
    <select id="getById" resultType="com.jasmine.crawl.common.pojo.entity.Crawler">
        select * from crawler where id = #{id}
    </select>
</mapper>
