<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-25 2:58:14 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.cron.mapper.EnableTaskMapper">

    <insert id="scheduleNextEnable">
        insert into enable_task(
         down_system_site_id,
         enable_time =date_add(current_timestamp ,interval #{delayMinutes} minute)
        )value(
         #{downSystemSiteId},
         #{enableTime}
        )
    </insert>
    <update id="enable">
        update enable_task
        set execute_time = current_timestamp
        where
        enable_time &lt; current_timestamp;

        update down_system_site t
        set enable_status = 1
        where t.id in(
        select
        down_system_site_id
        from enable_task
        where
        enable_time &lt; current_timestamp
        );
    </update>
</mapper>
