<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-25 2:58:14 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.cron.mapper.ProxyMapper">
    <update id="increaseCurrentUseCount">
        update proxy
        set current_use_count = current_use_count + 1
        where id = #{id}
    </update>
    <update id="decreaseCurrentUseCount">
        update proxy
        set current_use_count = current_use_count - 1
        where id = #{id}
    </update>
    <update id="disableBlockedProxies">
       update proxy
       set block_timeout_time = date_add(current_timestamp ,interval block_timeout  minute),
       block_current_count = 0
       where block_current_count > block_max_count
    </update>
    <select id="getProxyForSite" resultType="com.jasmine.crawler.common.pojo.entity.Proxy">
        select
        *
        from proxy p
        where
        -- enabled
        p.enable_status = 1
        -- limit ip
        <if test="ip != null">
            and p.ip = #{ip}
        </if>
        -- max concurrency
        and p.current_use_count &lt; p.max_use_count
        -- over max block count
        and p.block_current_count &lt; p.block_max_count
        -- not blocked
        and p.block_timeout_time &lt; current_timestamp
        -- not in block map
        and not exists (
        select ip from site_ip_block_map bm
        where
        bm.site_id = #{siteId}
        and bm.ip = p.ip
        and bm .block_timeout_time > current_timestamp
        )
        -- not in delay map
        and not exists (
        select 1 from site_ip_delay_map dm
        where
        dm.site_id = #{siteId}
        and dm.ip = p.ip
        and dm.delay_timeout_time > current_timestamp
        )
        order by p.current_use_count/p.max_use_count asc
        limit 0,1
    </select>
    <select id="getById" resultType="com.jasmine.crawler.common.pojo.entity.Proxy">
        select * from  proxy where id = #{id}
    </select>
</mapper>
