<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-25 2:58:14 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.cron.mapper.SiteAccountMapper">
    <update id="disableAccounts">
        update site_Account sa
        set
        sa.block_timeout_time = date_add(
        current_timestamp,
        interval (select account_block_timeout from site s where s.id = sa.id ) hour
        ),
        block_current_count =0
        where
        sa.enable_status =1
        and
        sa.block_current_count > (select account_max_block_count from site s where s.id =sa.id)
        <foreach collection="list" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </update>
    <update id="increaseCurrentUseCount">
        update site_account
        set current_use_count = current_use_count + 1
        where id = #{id}
    </update>
    <update id="decreaseCurrentUseCount">
        update site_account
        set current_use_count = current_use_count - 1
        where id = #{id}
    </update>
</mapper>
