<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-25 2:58:14 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.cron.mapper.UrlMapper">
    <update id="resetCacheUlrToWaitByDownSystemSite">
        update url
        set url_status = 1
        where
        down_system_site_id = #{id}
        and url_status = 2
        and date_add(last_cache_time,interval #{urlCacheTimeout} minute) &lt; current_timestamp
    </update>
    <update id="resetFailedUrlToWaitByDownSystemSite">
        update url
        set url_status = 1
        where
        down_system_site_id = #{id}
        and url_status = 3
        and last_page_Result != 1
        and last_success_time is null
        and totoal_crawl_count &lt; {urlMaxCrawlCount}
        and date_add(last_crawl_time,interval #{urlFailedRetryTimeout} minute) &lt; current_timestamp
    </update>
    <update id="resetSucceedUrlToWaitByDownSystemSite">
        update url
        set url_status = 1
        where
        down_system_site_id = #{id}
        and url_status = 3
        and last_page_Result = 1
        and date_add(last_success_time,interval #{urlResetTimeout} minute) &lt; current_timestamp
    </update>
</mapper>
