<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-31 9:09:23 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.web.admin.mapper.BlockRuleMapper">
    <insert id="add">
        insert into block_rule
        (down_system_site_id,http_status,page_result,compare_type,keywords)
        values
        (#{downSystemSisteId},#{httpStatus},#{pageResult},#{compareType},#{keyWords})
    </insert>
    <delete id="delete">
        delete from block_rule where id = #{id}
    </delete>
    <delete id="deleteBatch">
        delete from block_rule
        where id in
        <foreach collection="list" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <select id="getByDownSystemSiteId" resultType="com.jasmine.crawler.common.pojo.entity.BlockRule">
        select * from block_rule where down_system_site_id = #{downSystemSiteId}
    </select>
</mapper>
