<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-31 9:09:23 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.web.admin.mapper.CrawlTaskMapper">
    <select id="getPage" resultType="com.jasmine.crawler.common.pojo.entity.CrawlTask"
            parameterType="com.jasmine.crawler.web.admin.pojo.req.GetCrawlTaskPageReq">
        select
        t.id,
        t.site_id,
        t.down_system_site_id,
        t.down_system_id,
        t.task_timeout_time,
        t.task_status,
        t.task_execute_result_type,
        t.crawler_id,
        t.bind_timeout_time,
        t.bind_last_result,
        t.bind_last_msg,
        t.bind_last_time,
        t.bind_count,
        t.dispatch_last_result,
        t.dispatch_last_time,
        t.dispatch_last_msg,
        t.cookie_id,
        t.proxy_id,
        t.task_start_time,
        t.task_finish_time,
        t.url_success_count,
        t.url_failed_count,
        t.url_new_count,
        t.url_bad_count,
        t.average_speed_of_all,
        t.average_speed_of_success,
        t.mean_speed_of_success,
        t.max_speed_of_success,
        t.enable_status,
        t.create_time
        from crawl_task t
        <where>
            <if test="siteId != null">
                t.site_id = #{siteId}
            </if>
            <if test="downSystemSiteId != null">
                and t.down_system_site_id = #{downSystemSiteId}
            </if>
            <if test="taskStatus != null">
                and t.task_status = #{taskStatus}
            </if>
            <if test="taskExecuteResultType != null">
                and t.task_execute_result_type = #{taskExecuteResultType}
            </if>
            <if test="crawlerId != null">
                and t.crawler_id = #{crawlerId}
            </if>
            <if test="bindLastStatus != null">
                and t.bind_last_status = #{bindLastStatus}
            </if>
            <if test="dispatchStatus != null">
                and t.dispatch_status = #{dispatchStatus}
            </if>
            <if test="cookieId != null">
                and t.cookie_id = #{cookieId}
            </if>
            <if test="proxyId != null">
                and t.proxy_id = #{proxyId}
            </if>
            <if test="enableStatus != null">
                and t.enable_status = #{enableStatus}
            </if>
            <if test="createTimeStart != null and createTimeStart !=''">
                t.create_time >= #{createTimeStart}
            </if>
            <if test="createTimeEnd != null and createTimeEnd !=''">
                and t.create_time &lt; #{createTimeEnd}
            </if>
        </where>
    </select>
</mapper>
