<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-31 9:09:23 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.web.admin.mapper.DownSystemSiteDispatchMapper">
    <insert id="add">
        insert into down_system_site_dispatch(
        source_down_system_site_id,
        target_down_system_site_id,
        match_pattern,
        `order`
        )values (
        #{sourceDownSystemSiteId},
        #{targetDownSystemSiteId},
        #{matchPattern},
        #{order}
        )
    </insert>
    <delete id="delete">
        delete from down_system_site_dispatch where id = #{id}
    </delete>

    <select id="getBySourceDownSystemSiteId"
            resultType="com.jasmine.crawler.web.admin.pojo.vo.DownSystemSiteDispatchDetail">
        select
         t.*,
         dss.name as targetDownSystemSiteName,
         s.name as siteName
         from down_system_site_dispatch t
         left join down_system_site dss on t.target_down_system_site_id = dss.id
         left join site s on dss.site_id = s.id
         where t.source_down_system_site_id = #{sourceDownSystemSiteId}
         order by t.order
    </select>
</mapper>
