<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-31 9:09:23 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.web.admin.mapper.SiteMapper">
    <insert id="add" parameterType="com.jasmine.crawler.web.admin.pojo.req.AddSiteReq">
        insert into site
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,
            <if test="domain != null and domain != ''">
                domain,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="homePageUrl!=null and homePageUrl!=''">
                home_page_url,
            </if>

            <if test="parentSiteId != null">
                parent_site_id,
            </if>
            <if test="needUseCookie != null">
                need_use_cookie,
            </if>
            <if test="loginScriptId != null">
                login_script_id,
            </if>
            <if test="loginNeedVcode != null">
                login_need_vcode,
            </if>
            <if test="loginCaptaType != null">
                login_capta_type,
            </if>
            <if test="needUseProxy != null">
                need_use_proxy,
            </if>
            <if test="ipDelayTimeout != null">
                ip_delay_timeout,
            </if>
            <if test="ipBlockTimeout != null">
                ip_block_timeout,
            </if>
            <if test="ipHourSpeedLimit != null">
                ip_hour_speed_limit,
            </if>
            <if test="ipMinuteSpeedLimit != null">
                ip_minute_speed_limit,
            </if>
            <if test="ipDaySpeedLimit != null">
                ip_day_speed_limit,
            </if>
            <if test="accountAllowCrossIp != null">
                account_allow_cross_ip,
            </if>
            <if test="accountAllowMultiple != null">
                account_allow_multiple,
            </if>
            <if test="accountMinuteSpeedLimit != null">
                account_minute_speed_limit,
            </if>
            <if test="accountHourSpeedLimit != null">
                account_hour_speed_limit,
            </if>
            <if test="accountDaySpeedLimit != null">
                account_day_speed_limit,
            </if>
            <if test="accountMaxBlockCount != null">
                account_max_block_count,
            </if>
            <if test="accountBlockTimeout != null">
                account_block_timeout,
            </if>
            <if test="accountMaxCookieCount!=null">
                account_max_cookie_count,
            </if>

            <if test="accountDelayTimeout != null">
                account_delay_timeout,
            </if>
            <if test="cookieMaxBlockCount != null">
                cookie_max_block_count,
            </if>
            <if test="cookieExpireTimeout != null">
                cookie_expire_timeout,
            </if>
            <if test="cookieDelayTimeout != null">
                cookie_delay_timeout,
            </if>
            <if test="enableStatus != null">
                enable_status,
            </if>
            create_time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{name},
            <if test="domain != null and domain != ''">
                #{domain},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
            <if test="homePageUrl!=null and homePageUrl!=''">
                #{homePageUrl},
            </if>

            <if test="parentSiteId != null">
                #{parentSiteId},
            </if>
            <if test="needUseCookie != null">
                #{needUseCookie},
            </if>
            <if test="loginScriptId != null">
                #{loginScriptId},
            </if>
            <if test="loginNeedVcode != null">
                #{loginNeedVcode},
            </if>
            <if test="loginCaptaType != null">
                #{loginCaptaType},
            </if>
            <if test="needUseProxy != null">
                #{needUseProxy},
            </if>
            <if test="ipDelayTimeout != null">
                #{ipDelayTimeout},
            </if>
            <if test="ipBlockTimeout != null">
                #{ipBlockTimeout},
            </if>
            <if test="ipHourSpeedLimit != null">
                #{ipHourSpeedLimit},
            </if>
            <if test="ipMinuteSpeedLimit != null">
                #{ipMinuteSpeedLimit},
            </if>
            <if test="ipDaySpeedLimit != null">
                #{ipDaySpeedLimit},
            </if>
            <if test="accountAllowCrossIp != null">
                #{accountAllowCrossIp},
            </if>
            <if test="accountAllowMultiple != null">
                #{accountAllowMultiple},
            </if>
            <if test="accountMinuteSpeedLimit != null">
                #{accountMinuteSpeedLimit},
            </if>
            <if test="accountHourSpeedLimit != null">
                #{accountHourSpeedLimit},
            </if>
            <if test="accountDaySpeedLimit != null">
                #{accountDaySpeedLimit},
            </if>
            <if test="accountMaxBlockCount != null">
                #{accountMaxBlockCount},
            </if>
            <if test="accountBlockTimeout != null">
                #{accountBlockTimeout},
            </if>
            <if test="accountMaxCookieCount!=null">
                #{accountMaxCookieCount},
            </if>

            <if test="accountDelayTimeout != null">
                #{accountDelayTimeout},
            </if>
            <if test="cookieMaxBlockCount != null">
                #{cookieMaxBlockCount},
            </if>
            <if test="cookieExpireTimeout != null">
                #{cookieExpireTimeout},
            </if>
            <if test="cookieDelayTimeout != null">
                #{cookieDelayTimeout},
            </if>
            <if test="enableStatus != null">
                #{enableStatus},
            </if>
            current_timestamp
        </trim>
    </insert>
    <delete id="deleteById">
        delete from site t
        <where>
            t.id = #{id}
        </where>
    </delete>
    <update id="updateById" parameterType="com.jasmine.crawler.web.admin.pojo.param.UpdateSiteParams">
        update site t
        <set>
            <if test="name != null and name != ''">
                t.name = #{name},
            </if>
            <if test="domain != null and domain != ''">
                t.domain = #{domain},
            </if>
            <if test="description != null and description != ''">
                t.description = #{description},
            </if>
            <if test="homePageUrl != null and homePageUrl != ''">
                t.home_page_url = #{homePageUrl},
            </if>
            <if test="parentSiteId != null">
                t.parent_site_id = #{parentSiteId},
            </if>
            <if test="needUseCookie != null">
                t.need_use_cookie = #{needUseCookie},
            </if>
            <if test="loginScriptId != null">
                t.login_script_id = #{loginScriptId},
            </if>
            <if test="loginNeedVcode != null">
                t.login_need_vcode = #{loginNeedVcode},
            </if>
            <if test="loginCaptaType != null">
                t.login_capta_type = #{loginCaptaType},
            </if>
            <if test="needUseProxy != null">
                t.need_use_proxy = #{needUseProxy},
            </if>
            <if test="ipDelayTimeout != null">
                t.ip_delay_timeout = #{ipDelayTimeout},
            </if>
            <if test="ipBlockTimeout != null">
                t.ip_block_timeout = #{ipBlockTimeout},
            </if>
            <if test="ipHourSpeedLimit != null">
                t.ip_hour_speed_limit = #{ipHourSpeedLimit},
            </if>
            <if test="ipMinuteSpeedLimit != null">
                t.ip_minute_speed_limit = #{ipMinuteSpeedLimit},
            </if>
            <if test="ipDaySpeedLimit != null">
                t.ip_day_speed_limit = #{ipDaySpeedLimit},
            </if>
            <if test="accountAllowCrossIp != null">
                t.account_allow_cross_ip = #{accountAllowCrossIp},
            </if>
            <if test="accountAllowMultiple != null">
                t.account_allow_multiple = #{accountAllowMultiple},
            </if>
            <if test="accountMinuteSpeedLimit != null">
                t.account_minute_speed_limit = #{accountMinuteSpeedLimit},
            </if>
            <if test="accountHourSpeedLimit != null">
                t.account_hour_speed_limit = #{accountHourSpeedLimit},
            </if>
            <if test="accountDaySpeedLimit != null">
                t.account_day_speed_limit = #{accountDaySpeedLimit},
            </if>
            <if test="accountMaxBlockCount != null">
                t.account_max_block_count = #{accountMaxBlockCount},
            </if>
            <if test="accountBlockTimeout != null">
                t.account_block_timeout = #{accountBlockTimeout},
            </if>
            <if test="accountMaxCookieCount != null">
                t.account_max_cookie_count = #{accountMaxCookieCount},
            </if>
            <if test="accountDelayTimeout != null">
                t.account_delay_timeout = #{accountDelayTimeout},
            </if>
            <if test="cookieMaxBlockCount != null">
                t.cookie_max_block_count = #{cookieMaxBlockCount},
            </if>
            <if test="cookieExpireTimeout != null">
                t.cookie_expire_timeout = #{cookieExpireTimeout},
            </if>
            <if test="cookieDelayTimeout != null">
                t.cookie_delay_timeout = #{cookieDelayTimeout},
            </if>
            <if test="enableStatus != null">
                t.enable_status = #{enableStatus},
            </if>
            <if test="id != null">
                t.id = #{id}
            </if>
        </set>
        <where>
            t.id = #{id}
        </where>
    </update>
    <update id="updateBatch">
        update site
        <set>
            <if test="enableStatus!=null ">
                enable_status = #{enableStatus},
            </if>
            <if test="ipHourSpeedLimit!=null ">
                ip_hour_speed_limit = #{ipHourSpeedLimit},
            </if>
            <if test="ipMinuteSpeedLimit!=null ">
                ip_minute_speed_limit = #{ipMinuteSpeedLimit},
            </if>
            <if test="ipDaySpeedLimit!=null ">
                ip_day_speed_limit = #{ipDaySpeedLimit}
            </if>
        </set>
        where id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <select id="getById" resultType="com.jasmine.crawler.common.pojo.entity.Site">
        select
        t.id,
        t.name,
        t.domain,
        t.description,
        t.home_page_url,
        t.parent_site_id,
        t.need_use_cookie,
        t.login_script_id,
        t.login_need_vcode,
        t.login_capta_type,
        t.need_use_proxy,
        t.ip_delay_timeout,
        t.ip_block_timeout,
        t.ip_hour_speed_limit,
        t.ip_minute_speed_limit,
        t.ip_day_speed_limit,
        t.account_allow_cross_ip,
        t.account_allow_multiple,
        t.account_minute_speed_limit,
        t.account_hour_speed_limit,
        t.account_day_speed_limit,
        t.account_max_block_count,
        t.account_block_timeout,
        t.account_max_cookie_count,
        t.account_delay_timeout,
        t.cookie_max_block_count,
        t.cookie_expire_timeout,
        t.cookie_delay_timeout,
        t.enable_status,
        t.create_time
        from site t
        <where>
            t.id = #{id}
        </where>
    </select>
    <select id="getPage" resultType="com.jasmine.crawler.common.pojo.entity.Site"
            parameterType="com.jasmine.crawler.web.admin.pojo.req.GetSitePageReq">
        select
        t.id,
        t.name,
        t.domain,
        t.description,
        t.home_page_url,
        t.parent_site_id,
        t.need_use_cookie,
        t.login_script_id,
        t.login_need_vcode,
        t.login_capta_type,
        t.need_use_proxy,
        t.ip_delay_timeout,
        t.ip_block_timeout,
        t.ip_hour_speed_limit,
        t.ip_minute_speed_limit,
        t.ip_day_speed_limit,
        t.account_allow_cross_ip,
        t.account_allow_multiple,
        t.account_minute_speed_limit,
        t.account_hour_speed_limit,
        t.account_day_speed_limit,
        t.account_max_block_count,
        t.account_block_timeout,
        t.account_max_cookie_count,
        t.account_delay_timeout,
        t.cookie_max_block_count,
        t.cookie_expire_timeout,
        t.cookie_delay_timeout,
        t.enable_status,
        t.create_time
        from site t
        <where>
            <if test="parentSiteId != null">
                t.parent_site_id = #{parentSiteId}
            </if>
            <if test="loginScriptId != null">
                and t.login_script_id = #{loginScriptId}
            </if>
            <if test="loginCaptaType != null">
                and t.login_capta_type = #{loginCaptaType}
            </if>
            <if test="needUseProxy != null">
                and t.need_use_proxy = #{needUseProxy}
            </if>
            <if test="needUseCookie != null">
                and t.need_use_cookie = #{needUseCookie}
            </if>
            <if test="enableStatus != null">
                and t.enable_status = #{enableStatus}
            </if>
            <if test="name!=null and name!=''">
                and t.name like concat('%',#{name},'%')
            </if>
            <if test="domain!=null and domain!=''">
                and t.domain like concat('%',#{domain},'%')
            </if>
            <if test="createTimeStart != null and createTimeStart !=''">
                and t.create_time >= #{createTimeStart}
            </if>
            <if test="createTimeEnd != null and createTimeEnd !=''">
                and t.create_time &lt; #{createTimeEnd}
            </if>
        </where>
    </select>
</mapper>
