<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-31 9:09:23 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.web.admin.mapper.SiteAccountMapper">
    <insert id="add" parameterType="com.jasmine.crawler.web.admin.pojo.req.AddSiteAccountReq">
        insert into site_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            account,
            <if test="nickName != null and nickName != ''">
                nick_name,
            </if>
            <if test="description != null and description != ''">
                description,
            </if>
            <if test="validated != null ">
                validated,
            </if>
            <if test="accountType != null ">
                account_type,
            </if>
            <if test="loginType != null ">
                login_type,
            </if>
            site_id,
            <if test="phone != null and phone != ''">
                phone,
            </if>
            <if test="email != null and email != ''">
                email,
            </if>
            <if test="password != null and password != ''">
                password,
            </if>
            <if test="lastLoginIp != null and lastLoginIp != ''">
                last_login_ip,
            </if>
            <if test="enableStatus != null">
                enable_status,
            </if>
            create_time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{account},
            <if test="nickName != null and nickName != ''">
                #{nickName},
            </if>
            <if test="description != null and description != ''">
                #{description},
            </if>
            <if test="validated != null ">
                #{validated},
            </if>
            <if test="accountType != null ">
                #{accountType},
            </if>
            <if test="loginType != null ">
                #{loginType},
            </if>

            #{siteId},
            <if test="phone != null and phone != ''">
                #{phone},
            </if>
            <if test="email != null and email != ''">
                #{email},
            </if>
            <if test="password != null and password != ''">
                #{password},
            </if>
            <if test="lastLoginIp != null and lastLoginIp != ''">
                #{lastLoginIp},
            </if>
            <if test="enableStatus != null">
                #{enableStatus},
            </if>
            current_timestamp
        </trim>
    </insert>
    <delete id="deleteById">
        delete from site_account t
        <where>
            t.id = #{id}
        </where>
    </delete>
    <delete id="deleteBatch">
        delete from site_account
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>
    <update id="updateById" parameterType="com.jasmine.crawler.web.admin.pojo.param.UpdateSiteAccountParams">
        update site_account t
        <set>
            <if test="account != null and account != ''">
                t.account = #{account},
            </if>
            <if test="validated != null ">
                t.validated = #{validated},
            </if>
            <if test="accountType != null ">
                t.account_type = #{accountType},
            </if>
            <if test="nickName != null and nickName != ''">
                t.nick_name = #{nickName},
            </if>
            <if test="description != null and description != ''">
                t.description = #{description},
            </if>
            <if test="loginType != null">
                t.login_type = #{loginType},
            </if>
            <if test="siteId != null">
                t.site_id = #{siteId},
            </if>
            <if test="phone != null and phone != ''">
                t.phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                t.email = #{email},
            </if>
            <if test="password != null and password != ''">
                t.password = #{password},
            </if>
            <if test="delayTimeoutTime != null and delayTimeoutTime != ''">
                t.delay_timeout_time = #{delayTimeoutTime},
            </if>
            <if test="blockTimeoutTime != null and blockTimeoutTime != ''">
                t.block_timeout_time = #{blockTimeoutTime},
            </if>
            <if test="enableStatus != null">
                t.enable_status = #{enableStatus}
            </if>
        </set>
        <where>
            t.id = #{id}
        </where>
    </update>
    <update id="disableBatch">
        update site_account
        set enable_status = 0
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>
    <update id="enableBatch">
        update site_account
        set enable_status = 0
        where id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>
    <update id="updateBatch">
        update site_Account
        <set>
            <if test="enableStatus!=null">
                enable_status = #{enableStatus},
            </if>
            <if test="password!=null and password!=''">
                password = #{password}
            </if>
        </set>
        where id in
        <foreach collection="ids" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
    <select id="getById" resultType="com.jasmine.crawler.common.pojo.entity.SiteAccount">
        select
        t.id,
        t.account,
        t.nick_name,
        t.description,
        t.validated,
        t.account_type,
        t.login_type,
        t.site_id,
        t.phone,
        t.email,
        t.password,
        t.last_login_time,
        t.last_login_ip,
        t.current_use_count,
        t.block_current_count,
        t.block_timeout_time,
        t.delay_timeout_time,
        t.enable_status,
        t.create_time
        from site_account t
        <where>
            t.id = #{id}
        </where>
    </select>
    <select id="getPage" resultType="com.jasmine.crawler.web.admin.pojo.vo.SiteAccountVo"
            parameterType="com.jasmine.crawler.web.admin.pojo.req.GetSiteAccountPageReq">
        select
        t.id,
        t.account,
        t.nick_name,
        t.description,
        t.validated,
        t.account_type,
        t.login_type,
        t.site_id,
        t.phone,
        t.email,
        t.password,
        t.last_login_time,
        t.last_login_ip,
        t.current_use_count,
        t.block_current_count,
        t.block_timeout_time,
        t.delay_timeout_time,
        t.enable_status,
        t.create_time,
        s.account_max_use_count as max_use_count,
        s.account_max_block_count as max_block_count
        from site_account t
       join site s on t.site_id = s.id
        <where>
            <if test="loginType != null">
                t.login_type = #{loginType}
            </if>
            <if test="accountType != null">
                and t.account_type = #{accountType}
            </if>
            <if test="validated != null">
                and t.validated = #{validated}
            </if>
            <if test="siteId != null">
                and t.site_id = #{siteId}
            </if>
            <if test="phone!=null and phone!=''">
                and phone like concat('%',#{phone},'%')
            </if>
            <if test="account!=null and account!=''">
                and account like concat('%',#{account},'%')
            </if>
            <if test="email!=null and email!=''">
                and email like concat('%',#{email},'%')
            </if>
            <if test="enableStatus != null">
                and t.enable_status = #{enableStatus}
            </if>
            <if test="createTimeStart != null and createTimeStart !=''">
                t.create_time >= #{createTimeStart}
            </if>
            <if test="createTimeEnd != null and createTimeEnd !=''">
                and t.create_time &lt; #{createTimeEnd}
            </if>
        </where>
    </select>
    <select id="getAccountBySiteId" resultType="com.jasmine.crawler.common.pojo.entity.SiteAccount">
        select
        id,
        account
        from site_account
        where site_id = #{siteId}
    </select>
</mapper>
