<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-31 9:09:23 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.web.admin.mapper.UrlMapper">
    <insert id="add" parameterType="com.jasmine.crawler.web.admin.pojo.req.AddSeedUrlReq">
        insert into url
        <trim prefix="(" suffix=")" suffixOverrides=",">
            depth,
            <if test="downSystemSiteId != null">
                down_system_site_id,
            </if>
            url_type,
            <if test="referUrl != null and referUrl != ''">
                refer_url,
            </if>
            <if test="crawlCount != null">
                crawl_count,
            </if>
            <if test="urlStatus != null">
                url_status,
            </if>
            <if test="lastCrawlTime != null and lastCrawlTime != ''">
                last_crawl_time,
            </if>
            <if test="queryString != null and queryString != ''">
                query_string,
            </if>
            create_time
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{depth},
            <if test="downSystemSiteId != null">
                #{downSystemSiteId},
            </if>
            #{urlType},
            <if test="referUrl != null and referUrl != ''">
                #{referUrl},
            </if>
            <if test="crawlCount != null">
                #{crawlCount},
            </if>
            <if test="urlStatus != null">
                #{urlStatus},
            </if>
            <if test="lastCrawlTime != null and lastCrawlTime != ''">
                #{lastCrawlTime},
            </if>
            <if test="queryString != null and queryString != ''">
                #{queryString},
            </if>
            current_timestamp
        </trim>
    </insert>
    <delete id="delete">
        delete from url t
       where id = #{id}
    </delete>
    <update id="updateByUrl" parameterType="com.jasmine.crawler.web.admin.pojo.param.UpdateParams">
        update url t
        <set>
            <if test="depth != null">
                t.depth = #{depth},
            </if>
            <if test="downSystemSiteId != null">
                t.down_system_site_id = #{downSystemSiteId},
            </if>
            <if test="urlType != null">
                t.url_type = #{urlType},
            </if>
            <if test="referUrl != null and referUrl != ''">
                t.refer_url = #{referUrl},
            </if>
            <if test="crawlCount != null">
                t.crawl_count = #{crawlCount},
            </if>
            <if test="urlStatus != null">
                t.url_status = #{urlStatus},
            </if>
            <if test="lastCrawlTime != null and lastCrawlTime != ''">
                t.last_crawl_time = #{lastCrawlTime},
            </if>
            <if test="queryString != null and queryString != ''">
                t.query_string = #{queryString},
            </if>
            <if test="url != null and url != ''">
                t.url = #{url}
            </if>
        </set>
        <where>
            t.url = #{url}
        </where>
    </update>
    <select id="getByUrl" resultType="com.jasmine.crawler.common.pojo.entity.Url">
        select
        t.url,
        t.depth,
        t.down_system_site_id,
        t.url_type,
        t.refer_url,
        t.crawl_count,
        t.url_status,
        t.last_crawl_time,
        t.query_string,
        t.create_time
        from url t
        <where>
            t.url = #{url}
        </where>
    </select>
    <select id="getSeedUrlByDownSystemSiteId" resultType="com.jasmine.crawler.common.pojo.entity.Url"
           >
        select
        t.url,
        t.depth,
        t.down_system_site_id,
        t.priority,
        t.http_method,
        t.url_type,
        t.refer_url,
        t.crawl_count,
        t.url_status,
        t.last_crawl_time,
        t.last_success_time,
        t.total_count,
        t.total_success_count,
        t.query,
        t.params,
        t.enable_status,
        t.create_time
        from url t
        where
        t.down_system_site_id = #{downSystemSiteId}
        and t.url_type =2
    </select>
</mapper>
