<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-25 2:58:14 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.web.api.mapper.CrawlerMapper">
    <update id="decreaseCurrentConcurrency">
        update crawler
        set current_concurrency = current_concurrency - #{concurrencyToDecrease}
        where id = #{id}
    </update>
    <select id="get" resultType="com.jasmine.crawler.common.pojo.entity.Crawler">
        select * from crawler where id = #{id}
    </select>
</mapper>
