<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Jasmine code generator, a tool to build web crud application,with spring-
boot, mybatis, mysql,swagger,spring-security.
Generated at 2020-7-25 2:58:14 PM
All rights reserved by fuanlei(email:767550758@qq.com) since 2019 -->
<mapper namespace="com.jasmine.crawler.tool.mapper.DownSystemRunLimitMapper">

    <update id="reset">
        update down_system_site_run_limit
        set enable_status = 0
        where down_system_site_id = #{downSystemSiteId}
    </update>
    <update id="enable">
        update down_system_site_run_limit
        set enable_status = 1
        where
         down_system_site_id = #{downSystemSiteId}
         and week_day_type  = #{weekDayType}
         and hour = #{hour}

    </update>
    <select id="statistics" resultType="com.jasmine.crawler.tool.model.LimitStatistics">
        select
        t.week_day_type,
        t.hour,
        sum(dss.task_max_running_count) as count
        from down_system_site_run_limit t
        join down_system_site dss on t.down_system_site_id = dss.id
        group by
        t.week_day_type,
        t.hour
    </select>
</mapper>
